# general
*.diff
*.egg-info/
*.so
*.patch
*.pyc
*__pycache__*
*.mypy_cache
*_output.txt
.DS_Store
.coverage
.idea/
.python-version
.vscode/
MANIFEST
commit.txt
cpy_server*/
dev*.py
pip-wheel-metadata/
venv/
venv2/
venv3/
docs
dist
build

# Classic/XDevAPI protocol connector (aka mysql)
mysql*-connector-python/build/
mysql*-connector-python/dist/
mysql*-connector-python/docs/INFO_BIN
mysql*-connector-python/docs/INFO_SRC
mysql*-connector-python/lib/mysql/vendor/
mysql*-connector-python/tests_*.log
mysql*-connector-python/README.txt
mysql*-connector-python/README.rst
mysql*-connector-python/LICENSE.txt
mysql*-connector-python/CHANGES.txt
mysql*-connector-python/CONTRIBUTING.md
mysql*-connector-python/SECURITY.md
